*{
    padding: 0px;
    margin: 0px;
}

#main-interface{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

#game-board{
    display: grid;
    grid: repeat(3, 100px) / repeat(3, 100px);
    gap: 5px;    
}

.grid-board{
    background-color: rgb(139, 131, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

button{
    padding: 10px;
    font-size: 15px;
    border-style: none;
    border-radius: 12px;
    background-color: rgb(41, 103, 67);
    color: white;
}