* {
    padding: 0px;
    margin: 0px;
}

#main-interface {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

#panel {
    background-color: rgb(0, 98, 255);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#panel div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#panel input {
    width: 150px;
    height: 30px;
    border-style: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

#panel h1 {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#panel h2 {
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}

#game-board {
    display: grid;
    grid: repeat(3, 100px) / repeat(3, 100px);
    gap: 5px;
    background-color: black;
}

.grid-board {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

button {
    padding: 10px;
    font-size: 15px;
    border-style: none;
    border-radius: 12px;
    background-color: rgb(41, 103, 67);
    color: white;
}